*.gem
*.rbc
*.db
*.sqlite3
*.sublime*
Thumbs.db
Gemfile.lock
InstalledFiles
coverage
config
doc/
pkg
log
rdoc
tmp
spec/reports
test/tmp
test/version_tmp
lib/bundler/man
_yardoc
.yardoc
.bundle
.config
.DS_Store
.Spotlight-V100
.Trashes
._*
